{% extends 'base.html' %}
{% block title %}
    <title>Show Page</title>
{% endblock %}
{% block content %}
        <table class="table table-danger table-info p-3 col-3 m-auto mt-5">
            <thead>
                    <tr class="table-info">
                        <th>Id</th>
                        <th>Variant Name</th>
                        <th>Year Of Manufacture</th>
                        <th>Price</th>
                        <th>Outlet</th>
                        <th colspan="2" class="text-center">Action</th>
                    </tr>
            </thead>
            <tbody>
                {% for laptop in laptops %}
                    <tr>
                        <td class="table-warning">{{ laptop.id }}</td>
                        <td class="table-secondary">{{ laptop.var_name }}</td>
                        <td class="table-success">{{ laptop.year_of_manufact }}</td>
                        <td class="table-danger">{{ laptop.price }}</td>
                        <td class="table-light">{{ laptop.outlet }}</td>
                        <td class="table-secondary">
                            <a href="{% url 'update_url' laptop.id %}">
                                <button class="btn btn-primary col-5"><i class="bi bi-pencil-square"></i>&nbsp Update</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'delete_url' laptop.id %}">
                                <button class="btn btn-warning col-5"><i class="bi bi-trash-fill"></i>&nbsp Delete</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}